.category {
    padding: 30px;
}

.category > h1 {
    padding: 10px;
}

.category__container {
    display: flex;
    overflow: auto;
    padding-top: 20px;
}

.category__container__card {
    flex: 1 0 300px;
    margin: 10px;
}

.category__container__card:hover {
    cursor: pointer;
}

.category__container__card > img {
    min-width: 300px;
    height: 300px;
    width: 100%;
    border-radius: 10px;
}

.category__container__card > h3 {
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: 500;
}

@media screen and (max-width: 425px) {
    .category__container__card > img {
        min-width: 200px;
        height: 200px;
        width: 100%;
    }
}