.experiences {
    padding: 30px;
    color: white;
    background-color: black;
    position: relative;
}

.experiences > h1 {
    padding: 10px;
}

.experiences > p {
    padding-left: 10px;
    margin-bottom: 10px;
}

.experiences > button {
    color: white !important;
    text-transform: inherit !important;
    border: 1px solid white !important;
    height: 30px;
    font-weight: 600;
    border-radius: 8px;
    position: absolute;
    right: 40px;
    top: 50px;
}

.experiences__cardCotainer {
    margin: 30px;
    display: grid;
    grid-template-columns: 50% 25% 25% ;
    grid-template-rows: 50% 50%;
    gap: 20px;
}

.experiences__card{
    border-radius: 16px;
    overflow: hidden;
    transition: transform 150ms ease-in;
    cursor: pointer;
    background-color: #222222;
}

.experiences__card:hover {
    transform: scale(1.05);
}

.experiences__card > img { 
    object-fit: cover;
    width: 100%;
    height: calc(100% - 75px);
}

.experiences__info {
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: flex-strat;
}

.experiences__info > h3 {
    font-weight: 600;
    font-size: 1rem;
    margin-top: 8px;
    margin-bottom: 8px;
}

.container1 {
    grid-column: 1/2;
    grid-row: 1/-1;
}

.container2 {
    grid-column: 2/3;
    grid-row: 1/2;
}

.container3 {
    grid-column: 3/4;
    grid-row: 1/2;
}

.container4 {
    grid-column: 2/4;
    grid-row: 2/3;
}

@media screen and (max-width: 768px) {
    .experiences__cardCotainer {
        grid-template-columns: 2fr 1fr ;
        grid-template-rows: 1fr 1fr ;
    }
    .container2 {
        grid-column: 2/3;
        grid-row: 1/2;
    }
    
    .container3 {
        grid-column: 2/3;
        grid-row: 2/3;
    }

    .container4 {
        display: none;
    }
}

@media screen and (max-width: 425px) {
    .experiences__cardCotainer {
        display: flex;
        overflow-x: scroll;
        overflow-y: hidden;
    }

    .container1 {
        flex: 1 0 300px;
        height: 400px;
    }
    .container2 {
        flex: 1 0 300px;
        height: 400px;
    }
    .container3 {
        flex: 1 0 300px;
        height: 400px;
    }
    .container4 {
        display: initial;
        flex: 1 0 300px;
        height: 400px;
    }

    .experiences > button { 
        top: 168px;
    }
}