.explore__info {
    padding: 20px;
}

.explore__info > p {
    margin-bottom: 10px;
    font-size: 14px;
}

.explore__info > h1 {
    margin-bottom: 30px;
}

.explore__info > button {
    text-transform: inherit;
    margin: 5px;
    border-radius: 30px;
}