.searchBar {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 40px;
}
.searchBar__cotaniner {
    display: flex;
    border: 1px solid lightgray;
    border-radius: 999px;
    width: 60vw;
    height: 53px;
    align-items: center;
    justify-content: space-between;
    padding: 5px 5px 5px 0;
    background-color: #f7f7f7;
}

.searchBar__container__item {
    height: 53px;
    border: none;
    border-radius: 999px;
    padding: 5px 13px 5px 30px;
    width: 25%;
    align-items: center;
}

.searchBar__container__item:hover {
    cursor: pointer;
    background-color: #EBEBEB;
}

.searchBar__container__item:focus {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 6px 20px;
    background-color: white;
}

.searchBar__container__item > input {
    border: none;
    outline-width: 0;
    background-color: inherit;
}

.searchBar__container__item > input::placeholder {
    font-size: 14px;
    font-weight: 300;
    color: gray;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto';
}

.searchBar__container__item__title {
    font-size: 13px;
    margin: 0;
    font-weight: 600;
    padding-top: 5px;
    padding-bottom: 4px;
}

.searchBar__container__item__text {
    font-size: 14px;
    font-weight: 300 !important;
    color: gray;
    margin: 0;
}

.searchBar__cotaniner > button {
    text-transform: inherit;
    background-color: #ff7779 !important;
    color: white !important;
    font-weight: 600 !important;
    border-radius: 999px !important;
    height: 50px !important;
    width: 110px !important;
}

.searchBar__datePicker {
    position: absolute;
    top: 95px;
    left: 25%;
    width: 100%;
}
@media screen and (max-width: 768px) {
    .searchBar__cotaniner {
        width: 80%;
    }
}

@media screen and (max-width: 425px) {
    .datepicker {
        display: none;
    }

    .guest {
        display: none;
    }
}
